<!DOCTYPE html>
<html>
    <head>

    </head>
    
    <body>
        <form action="/view" method="GET">
            <label for="style">Choose a style:</label>
                <select name="style" id="style">
                    <option value="kids">Kids</option>
                    <option value="cat">Cat</option>
                    <option value="scroll">Scroll</option>
                </select>

            <div>
              <label for="event">Event name: </label>
              <input name="event" id="event" value="Event Name" required>
            </div>
            <div>
              <label for="to">Who do you want to invite?</label>
              <input name="to" id="to" value="Friend" required>
            </div>
            <div>
                <label for="date">What is the date of the event?</label>
                <input name="date" id="date" value="March 1st" required>
            </div>
            <div>
                <label for="time">What time is the event</label>
                <input name="time" id="time" value="3pm" required>
            </div>

            <!-- <div>
                <label for="date">Who do you want to invite?</label>
                 <input type="date" id="date" name="date" required>
            </div>

            <div>
                <label for="appt">Choose a time for your meeting:</label>
                <input type="time" id="time" name="time" required>
            </div> -->

            <div>
                <label for="to">What's your name? </label>
                <input name="sender" id="sender" value="Renee" required>
            </div>

            <div>
              <button>Make my invitation!</button>
            </div>
          </form>
        
    </body>

</html>